@model IEnumerable<Turno>

<h2>Turnos</h2>
<table class="table">
	<thead>
		<tr>
			<th>
				<label>FECHA</label>
			</th>
			<th>
				<label>HORARIO</label>
			</th>
			<th>
				<label>NOMBRE</label>
			</th>
			<th>
				<label>TELEFONO</label>
			</th>
			<th>
				<label>TIPO</label>
			</th>
			<th>
				<label>ESPECIALIDAD</label>
			</th>
		</tr>
	</thead>

	@foreach(var item in Model){
		<tr>
			<td>
				<label>@item.Fecha</label>
			</td>
		
		
			<td>
				<label>@item.Horario</label>
			</td>
		
		
			<td>
				<label>@item.Nombre</label>
			</td>
			
			<td>
				<label>@item.Telefono</label>
			</td>
			<td>
				<label>@item.Servicio.Tipo</label>
			</td>
				
			<td>
				<label>@item.Especialidad</label>
			</td>
		</tr>
	}
</table>


