@model IEnumerable<Turno>

<h1>Index Turnos</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				<label>FECHA</label>
			</th>
			<th>
				<label>HORARIO</label>
			</th>
			<th>
				<label>NOMBRE</label>
			</th>
			<th>
				<label>TELEFONO</label>
			</th>
			<th>
				<label>ESPECIALIDAD</label>
			</th>
		</tr>
	</thead>

	@foreach(Turno turno in Model){
		
		<tr>
			<td>
				<label>@turno.Fecha</label>
			</td>
		
		
			<td>
				<label>@turno.Horario</label>
			</td>
		
		
			<td>
				<label>@turno.Nombre</label>
			</td>
			
			<td>
				<label>@turno.Telefono</label>
			</td>
			<td>
				<label>@turno.Especialidad</label>
			</td>
			<td>
				<label>@turno.Id</label>
			</td>
		</tr>
	}
</table>


